body {
    background-size: 100% auto;
    background-position: center top;
    background-color: #F1F6F8;
}

.wrapp-box, 
.wrapp-box * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

.wrapp-box {
    width: 100%;
    max-width: 480px;
    margin: 50px auto;    
    padding: 15px;
}

.box {    
    width: 100%;
    padding: 15px 10px;
    background-color: #fff;

    -webkit-border-radius: 4px 4px 4px;
       -moz-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;

    -webkit-box-shadow: 0 8px 8px 0 rgba(218, 221, 229, 0.99);
       -moz-box-shadow: 0 8px 8px 0 rgba(218, 221, 229, 0.99);
            box-shadow: 0 8px 8px 0 rgba(218, 221, 229, 0.99);
}

.box h4 {
    line-height: 22px;
    display: block;
    padding-left: 10px;
    position: relative;
    color: #333333;
    font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B",Geneva,Verdana,sans-serif;
    margin-bottom: 20px;
    text-transform: none;
    font-size: 19px;
}

.content {
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 0 10px;
    min-width: 74px;
    min-height: 74px;
}
.content:before {
    content: '';
    position: absolute;
    left: 0;
    top: -15px;
    right: 0;
    bottom: -15px;
    background: url(../img/options-preloader-blue.gif) no-repeat scroll center center rgba(255, 255, 255, 0.8);
    
    opacity: 0;
    filter: alpha(opacity=0);   
    z-index: -1;

    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
            transition: all .4s ease;
}

.content.show-loader:before {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 1;
}

.form .form-row {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.form input[type="text"] {
    width: 100%;
    display: block;
    height: 44px;
    line-height: 44px;
    border: 1px solid #d9d9d9;
    padding-left: 35px;
    font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B",Geneva,Verdana,sans-serif;

    -webkit-border-radius: 5px 5px 5px 5px;
       -moz-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;            
}
.form input[type="text"]:focus,
.form button:focus,
.prev > a:focus {
    outline: 2px dashed #000 !important;
}

.icon {
    position: absolute;
    width: 35px;
    height: 44px;
    display: block;
    left: 0;
    top: 0;
}

.icon.user {
    background: url(../img/user-icon-bluegreen.png) no-repeat scroll center center transparent;
}

.form .alert {
    background: url(../img/alert-error-icon-etlem.png) no-repeat scroll 10px 7px transparent;
    background-size: 25px 25px;
    padding: 12px 7px 12px 45px;
    border: 1px solid #d9415c;
    color: #d9415c;
    display: block;
    margin-top: 10px;
    display: none;

    -webkit-transition: opacity .4s ease;
       -moz-transition: opacity .4s ease;
            transition: opacity .4s ease;

    -webkit-border-radius: 5px 5px 5px 5px;
       -moz-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;   
}
.form .form-row.error .alert {
    display: block;
}

.form .alert p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4em;
    font-size: 13px;
}

.form .submit {
    width: 49%;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #239a98;
    text-shadow: none;
    border: 0;
    line-height: 34px;
    height: 34px;
    color: #fff;

    -webkit-border-radius: 5px 5px 5px 5px;
       -moz-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px; 

    -webkit-transition: background .4s ease;
       -moz-transition: background .4s ease;
            transition: background .4s ease;
}

.form .submit:hover,
.form .submit:focus {
   background-color: #1a827f;
}

.captcha {
    background-color: #f2f2f2;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B",Geneva,Verdana,sans-serif;
}
.captcha-info {
    font-size: 11px;
    line-height: 1.7;
    color: #aeaeae;
	font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B",Geneva,Verdana,sans-serif;
}

.captcha .question {
      font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B",Geneva,Verdana,sans-serif;
}

.captcha-error {
    font-size: small;
    color: red;
}

.prev > a {
    position: relative;
    padding-left: 12px;
    color: #1a827f;
  	font-family: "Gotham Rounded SSm   A","Gotham Rounded SSm   B",Geneva,Verdana,sans-serif;
}
.prev > a:before {
    content: "‹";
    position: absolute;
    top: -1px;
    left: 0;
    font-size: 19px;
}

.form .captcha input[type="text"] {
    padding-left: 10px;
}

.panel {
    font-family: "speak_bold",Arial;
}
.panel > div {
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
    padding: 10px;
}
.panel .info p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
}
.panel > div:last-child,
.panel .info p:last-child {
    margin-bottom: 0;
}
.panel .header {
    font-family:"speak_heavy";
    font-size: 16px;
    line-height: 19px;
}

.panel input[type="submit"] {
	margin-top: 10px;
}

#reset {
	display: inline-block;
	margin-top: 10px;
}

#form-resignation {
	display: none;
}

.btn-reset {
	position: relative;
    padding-left: 12px;
	display: block;
	margin-top: 10px;
}
.btn-reset::before {
	content: "‹";
    position: absolute;
    top: -3px;
    left: 0;
    font-size: 19px;
}

@media all and (max-width: 991px) {
    body {
        width: 100%;
    }
}
@media all and (max-width: 599px) {
    .wrapp-box {
        width: 100%;
    }
}